<form (submit)="onBookAppointment(postForm)" #postForm="ngForm">
    <!-- TODO add appointment variables validation -->
    <!-- <form action=""> -->
    <section class="content">
        <header class="centered">
            <h1>Appointment Booking Platform</h1>
        </header>
        <section class="flex-container">
            <app-dropdown-select [vendors_list]="vendorsList" (vendorSelected)="GetName($event)"></app-dropdown-select>
            <app-date-picker [vendorSelected]="vendor_name" (dateSelected)="GetDate($event)"></app-date-picker>
        </section>

        <app-timeslot-picker [filteredAppointments]="appointments"
            (timeSlot)="GetTimeSlot($event)"></app-timeslot-picker>

    </section>

    <!-- <button type="submit">Submit Form</button> -->
</form>