<form action="">
    <section class="content">
        <header class="centered">
            <h1>Appointment Booking Platform</h1>
        </header>
        <section class="flex-container">
            <app-dropdown-select [vendors_list]="vendorsList" (vendorSelected)="GetName($event)"></app-dropdown-select>
            <app-date-picker (dateSelected)="GetDate($event)"></app-date-picker>
        </section>

        <app-timeslot-picker [timeSlots]="timeSlots" (timeSlot)="GetTimeString($event)"></app-timeslot-picker>

    </section>
    <section class="content">
        <h1 class="centered">Your booked appointments</h1>
        <h2>Barber | Client | Day | Time </h2>
        <div class='parent' multi="true" *ngFor="let filterappointment of filteredAppointments">
            <p class='child'> {{filterappointment.vendor_name}} | {{filterappointment.client_name}} |
                {{filterappointment.appointment_time.toString().slice(0,16)}} |
                {{filterappointment.time_string}}</p>

            <button class='child' mat-button color="warn" (click)="onDelete(filterappointment._id)"> Cancel Appointment
            </button>
        </div>
    </section>

</form>