.container {
    border: 1px solid lightgray;
    padding: 1rem;
    align-content: center;
    background-color: rgb(82, 122, 207);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

button {
    margin: 5px;
}

/* used to show if timeslots are booked  */
.booked {
    background-color: grey;
}

.not-booked {
    background-color: white;
}